
  :root {
    --Button-Primary-brand: #1DB93C;
    --text-icons-global-white-primary: #FFF;
    --text-icons-global-white-accent: rgba(255, 255, 255, 0.70;
    --Button-Secondary: rgba(20, 20, 20, 0.06;
    --Special-Divider: rgba(137, 137, 137, 0.30;
    --text-icons-accent-subtle: #5A5A5A;
    --text-icons-primary: #141414;
    --text-icons-traffic-unknown: #5A5A5A;
    --text-icons-status-critical: #F5373C;
  }
