<!doctype html>
<html lang="ru">
<head>
  <link rel="stylesheet" href="./../assets/styles/styles-92bd43b6.css">
  <link rel="stylesheet" href="./../assets/styles/styles-6f4d3d46.css">
  <link rel="stylesheet" href="./../assets/styles/styles-712c3e47.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

<!-- Figma selected node: State=Default, Theme=Light -->
<div layer-name="State=Default, Theme=Light" class="inline-element-1"><div layer-name="Item" class="inline-element-2"><div  layer-name="Cover" class="inline-element-3"https://api.builder.io/api/v1/image/assets/TEMP/e52d7be4beb073115ff34a6560a5ceb988f7d730?width=192') lightgray 50% / cover no-repeat;  class="extracted-element-7"font-size:11px;font-style:normal;font-weight:600;line-height:14px /* 127.273% */;letter-spacing:-0.176px;position:relative"><span class="inline-element-6">Заголовок сторис три строки</span></div></div></div></div></div>
</body>
</html>