
  :root {
    --Surface-Section-01: #FFF;
    --text-icons-primary: #141414;
    --text-icons-tertiary: #B8B8B8;
    --Special-Divider: rgba(137, 137, 137, 0.30;
    --text-icons-secondary-transparent: rgba(20, 20, 20, 0.50;
    --text-icons-tertiary-transparent: rgba(20, 20, 20, 0.30;
  }
