
  :root {
    --Background-iOS-materials-systemChromeMaterial: linear-gradient(0deg, rgba(242, 242, 242, 0.15;
    --Button-Secondary: rgba(20, 20, 20, 0.06;
    --text-icons-primary: #141414;
    --text-icons-traffic-unknown: #5A5A5A;
  }
