.extracted-element-7 {
  position: relative"><div data-component-name="Text block" data-variant-name="Text style=Caption 2, ↑=8, ↓=8" class="inline-element-4"><div class="inline-element-5"SB Sans Text';
  font-size:11px;
  font-style:normal;
  font-weight:600;
  line-height:14px /* 127.273% */;
  letter-spacing:-0.176px;
  position:relative">
}