
  :root {
    --Button-Secondary: rgba(20, 20, 20, 0.06;
    --Surface-Section-01: #FFF;
    --Special-Divider: rgba(137, 137, 137, 0.30;
    --Background-02: #FFF;
    --text-icons-primary: #141414;
    --text-icons-tertiary-transparent: rgba(20, 20, 20, 0.30;
  }
