
  :root {
    --Background-Blur-02: rgba(255, 255, 255, 0.70;
    --Button-Primary-brand: #1DB93C;
    --text-icons-global-white-primary: #FFF;
    --Button-Secondary: rgba(20, 20, 20, 0.06;
    --text-icons-primary: #141414;
    --Special-Divider: rgba(137, 137, 137, 0.30;
    --text-icons-accent-subtle: #5A5A5A;
  }
