
  :root {
    --Background-02: #FFF;
    --Surface-Section-01: #FFF;
    --Special-Divider: rgba(137, 137, 137, 0.30;
    --text-icons-primary: #141414;
    --text-icons-secondary: #898989;
    --Button-Secondary: rgba(20, 20, 20, 0.06;
    --text-icons-accent-subtle: #5A5A5A;
    --text-icons-status-warning: #EFA701;
    --Surface-02: rgba(20, 20, 20, 0.09;
  }
