.extracted-element-199 {
  Background:02,Dark theme:No}' class="inline-element-7"><div layer-name="✳︎ Text field" data-component-name="Text field icon left icon right focus" class="inline-element-8"><div layer-name="Icon position" class="inline-element-9"><div layer-name="Icon container 25" data-component-name="Icon container 24" props='{icon:2:11732}' class="inline-element-10"><div layer-name="Color" class="inline-element-11"></div></div></div><div data-component-name="Text field/Caret" data-variant-name="Visible=Yes, Dark theme=No" props='{Visible:Yes,Dark theme:No}' class="inline-element-12"></div><div layer-name="Label" class="inline-element-13"SB Sans Text';
  font-size:15px;
  font-style:normal;
  font-weight:400;
  line-height:20px /* 133.333% */;
  letter-spacing:-0.3px;
  position:relative">
}

.extracted-element-200 {
  font-size:16px;
  font-style:normal;
  font-weight:500;
  line-height:20px /* 125% */;
  letter-spacing:-0.24px;
  position:relative">
}

.extracted-element-201 {
  font-size:14px;
  font-style:normal;
  font-weight:400;
  line-height:18px /* 128.571% */;
  letter-spacing:-0.28px;
  position:relative">
}

.extracted-element-202 {
  font-size:14px;
  font-style:normal;
  font-weight:400;
  line-height:18px /* 128.571% */;
  letter-spacing:-0.28px;
  position:relative">
}

.extracted-element-203 {
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:20px;
  letter-spacing:-0.24px;
  position:relative">
}

.extracted-element-204 {
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:20px;
  letter-spacing:-0.24px;
  position:relative">
}

.extracted-element-205 {
  font-size:14px;
  font-style:normal;
  font-weight:400;
  line-height:18px /* 128.571% */;
  letter-spacing:-0.28px;
  position:relative">
}

.extracted-element-206 {
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:20px /* 125% */;
  letter-spacing:-0.24px;
  position:relative">
}

.extracted-element-207 {
  font-size:14px;
  font-style:normal;
  font-weight:400;
  line-height:18px /* 128.571% */;
  letter-spacing:-0.28px;
  position:relative">
}

.extracted-element-208 {
  font-size:14px;
  font-style:normal;
  font-weight:400;
  line-height:18px;
  letter-spacing:-0.28px;
  position:relative">
}

.extracted-element-209 {
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:20px /* 125% */;
  letter-spacing:-0.24px;
  position:relative">
}

.extracted-element-210 {
  font-size:14px;
  font-style:normal;
  font-weight:400;
  line-height:18px /* 128.571% */;
  letter-spacing:-0.28px;
  position:relative">
}

.extracted-element-211 {
  font-size:14px;
  font-style:normal;
  font-weight:400;
  line-height:18px;
  letter-spacing:-0.28px;
  position:relative">
}

.extracted-element-212 {
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:20px /* 125% */;
  letter-spacing:-0.24px;
  position:relative">
}

.extracted-element-213 {
  font-size:14px;
  font-style:normal;
  font-weight:400;
  line-height:18px /* 128.571% */;
  letter-spacing:-0.28px;
  position:relative">
}

.extracted-element-214 {
  font-size:14px;
  font-style:normal;
  font-weight:400;
  line-height:18px;
  letter-spacing:-0.28px;
  position:relative">
}

.extracted-element-215 {
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:20px /* 125% */;
  letter-spacing:-0.24px;
  position:relative">
}

.extracted-element-216 {
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:20px /* 125% */;
  letter-spacing:-0.24px;
  position:relative">
}

.extracted-element-217 {
  font-size:14px;
  font-style:normal;
  font-weight:400;
  line-height:18px /* 128.571% */;
  letter-spacing:-0.28px;
  position:relative">
}

.extracted-element-218 {
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:20px /* 125% */;
  letter-spacing:-0.24px;
  position:relative">
}

.extracted-element-219 {
  font-size:14px;
  font-style:normal;
  font-weight:400;
  line-height:18px /* 128.571% */;
  letter-spacing:-0.28px;
  position:relative">
}

.extracted-element-220 {
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:20px /* 125% */;
  letter-spacing:-0.24px;
  position:relative">
}

.extracted-element-221 {
  font-size:14px;
  font-style:normal;
  font-weight:400;
  line-height:18px /* 128.571% */;
  letter-spacing:-0.28px;
  position:relative">
}

.extracted-element-222 {
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:20px /* 125% */;
  letter-spacing:-0.24px;
  position:relative">
}

.extracted-element-223 {
  font-size:14px;
  font-style:normal;
  font-weight:400;
  line-height:18px /* 128.571% */;
  letter-spacing:-0.28px;
  position:relative">
}

.extracted-element-224 {
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:20px /* 125% */;
  letter-spacing:-0.24px;
  position:relative">
}

.extracted-element-225 {
  font-size:14px;
  font-style:normal;
  font-weight:400;
  line-height:18px /* 128.571% */;
  letter-spacing:-0.28px;
  position:relative">
}

.extracted-element-226 {
  font-size:14px;
  font-style:normal;
  font-weight:400;
  line-height:18px /* 128.571% */;
  letter-spacing:-0.28px;
  position:relative">
}