
  :root {
    --Surface-Section-01: #FFF;
    --text-icons-accent-brand: #1BA136;
    --text-icons-primary-black: #141414;
    --text-icons-secondary-default: #898989;
    --Special-Divider: rgba(137, 137, 137, 0.30;
  }
