.extracted-element-24 {
  font-size:16px;
  font-style:normal;
  font-weight:600;
  line-height:20px /* 125% */;
  letter-spacing:-0.24px;
  position:relative">
}

.extracted-element-25 {
  font-size:19px;
  font-style:normal;
  font-weight:500;
  line-height:24px /* 126.316% */;
  letter-spacing:-0.437px;
  position:relative">
}

.extracted-element-26 {
  position:false,Back. color dark:1:1529,Button:true,Size:48,Style:Default,Label:True,Caption:False,Resize:False,Dark theme:False}' class="inline-element-13"><div layer-name="✳︎ Icon container L" data-component-name="✳︎ Icon container" data-variant-name="Size=48" props='{Size:48}' class="inline-element-14"><div layer-name="Icon container 24" data-component-name="Icon container 24" props='{icon:91:15600}' class="inline-element-15"><div layer-name="Color" class="inline-element-16"></div></div></div><div layer-name="✳︎ Label container" data-component-name="✳︎ Label container" data-variant-name="Style=Body, Caption=False" props='{Style:Body,Caption:False}' class="inline-element-17"><div layer-name="✳︎ ︎Label" data-component-name="✳︎ ︎Label" data-variant-name="Style=Body, Layout=Text, Caption=False" props='{Style:Body,Layout:Text,Caption:False}' class="inline-element-18"><div layer-name="Label" class="inline-element-19"SB Sans Text';
  font-size:16px;
  font-style:normal;
  font-weight:600;
  line-height:20px /* 125% */;
  letter-spacing:-0.24px;
  position:relative">
}