.extracted-element-15 {
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:20px /* 125% */;
  letter-spacing:-0.24px;
  position:relative">
}

.extracted-element-16 {
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:20px /* 125% */;
  letter-spacing:-0.24px;
  position:relative">
}