
  :root {
    --Surface-Solid-white: #FFF;
    --text-icons-secondary: #898989;
    --text-icons-primary-black: #141414;
    --text-icons-secondary-default: #898989;
    --text-icons-tertiary-default: #B8B8B8;
  }
