
  :root {
    --Surface-03: #FFF;
    --text-icons-primary: #141414;
    --text-icons-secondary: #898989;
    --text-icons-tertiary-transparent: rgba(20, 20, 20, 0.30;
    --text-icons-inverse: #FFF;
  }
