
  :root {
    --Surface-Section-01: #FFF;
    --Special-Divider: rgba(137, 137, 137, 0.30;
    --text-icons-status-success: #1BA136;
    --text-icons-global-white-primary: #FFF;
    --text-icons-primary: #141414;
    --text-icons-secondary: #898989;
    --text-icons-status-warning: #EFA701;
    --Surface-02: rgba(20, 20, 20, 0.09;
  }
