<!doctype html>
<html lang="ru">
<head>
  <link rel="stylesheet" href="./../assets/styles/styles-76dde194.css">
  <link rel="stylesheet" href="./../assets/styles/styles-fb312dde.css">
  <link rel="stylesheet" href="./../assets/styles/styles-f9054e6a.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

<!-- Figma selected node: State=Big, Theme=Light -->
<div layer-name="State=Big, Theme=Light" class="inline-element-1"><img layer-name="232x142" class="inline-element-2" src="./../assets/images/img-b3b4da23.png" alt="" /><div layer-name="Overlay" class="inline-element-3"></div><div class="inline-element-4"><div data-component-name="Text block" data-variant-name="Text style=Body, ↑=16, ↓=6" class="inline-element-5"><div class="inline-element-6"SB Sans Text'; class="extracted-element-11"font-style:normal;font-weight:500;line-height:20px /* 125% */;letter-spacing:-0.24px;position:relative"><span class="inline-element-7">Title</span></div></div><div data-component-name="Text block" data-variant-name="Text style=Caption 1, ↑=6 [F↓], ↓=4 [C1↓]" class="inline-element-8"><div class="inline-element-9"SB Sans Text'; class="extracted-element-12"font-style:normal;font-weight:400;line-height:16px /* 123.077% */;letter-spacing:-0.234px;position:relative"><span class="inline-element-10">Number</span></div></div></div></div>
</body>
</html>