
  :root {
    --Background-Default-white: #FFF;
    --Background-02: #FFF;
    --Background-Blur-02: rgba(255, 255, 255, 0.70;
    --Surface-02: rgba(20, 20, 20, 0.09;
    --text-icons-secondary: #898989;
    --text-icons-accent-brand: #1BA136;
    --Button-Secondary: rgba(20, 20, 20, 0.06;
    --text-icons-primary: #141414;
    --Surface-00: rgba(0, 0, 0, 0.00;
    --text-icons-tertiary: #B8B8B8;
  }
