
  :root {
    --Surface-Section-01: #FFF;
    --Special-Divider: rgba(137, 137, 137, 0.30;
    --Overlay-02: rgba(0, 0, 0, 0.40;
    --text-icons-primary-white: #FFF;
    --text-icons-primary: #141414;
    --text-icons-secondary: #898989;
    --text-icons-status-warning: #EFA701;
  }
